
<form action="" method="post">
  <label for="budget">Budget</label>
  <div class="input-group">
    <div class="input-group-addon">$</div>
    <input type="number" class="form-control" min="0" name="budget" placeholder="2,000.00">
  </div>
    <br>
    <button class="btn btn-info" name="submit">Submit</button>
</form>









<!-- MODAL FOR LOGGIN IN -->
<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Login</h4>
      </div>
      <div class="modal-body">
        <form class="form-group" method="post">
          Email <br><input type="text" name="email"><br>
          <br>
          Password <br><input type="text" name="password">
        </form>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-info" name="submit">Submit</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="myModal2" role="dialog">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">New user register</h4>
      </div>
      <div class="modal-body">
        <form class="form-group" method="post">
          First name <br><input type="text" name="first_name"><br>
          <br>
          Last name <br><input type="text" name="last_name"><br>
          <br>
          Email <br><input type="text" name="email"><br>
          <br>
          Password<br><input type="text" name="password"><br>
        </form>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-info" name="submit">Submit</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
