<div class="container main-inner-container">
  <div class="row logo">
    <img src="/img/logo.png">
  </div>
  <div class="row subtitle">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
      <h2>Discover the vacation you always wanted but could never find</h2>
    </div>
  </div>
  <form action="/" method="post">
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label for="city_name">Your Location</label>
          <input type="text" class="form-control" name="city_name" placeholder="ex. Portland, OR">
        </div>
        <div class="form-group">
          <label for="vacation_length">How long do you want to stay?</label>
          <div class="input-group">
            <input type="text" class="form-control" name="vacation_length" placeholder="10">
            <div class="input-group-addon">days</div>
          </div>
        </div>
        <label for="budget">Budget</label>
        <div class="input-group">
          <div class="input-group-addon">$</div>
          <input type="number" class="form-control" min="0" name="budget" placeholder="2,500.00">
        </div>
      </div>
      <div class="col-sm-6 search-box">
        <button class="btn" name="submit">FIND VACATION</button>
      </div>
    </form>
  </div>

  <!-- MODAL FOR LOGGIN IN -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Login</h4>
        </div>
        <div class="modal-body">
          <form class="form-group" method="post">
            Email <br><input type="text" name="email"><br>
            <br>
            Password <br><input type="text" name="password">
          </form>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-info" name="submit">Submit</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>


  <div class="modal fade" id="myModal2" role="dialog">
    <div class="modal-dialog">

      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">New user register</h4>
        </div>
        <div class="modal-body">
          <form class="form-group" method="post">
            First name <br><input type="text" name="first_name"><br>
            <br>
            Last name <br><input type="text" name="last_name"><br>
            <br>
            Email <br><input type="text" name="email"><br>
            <br>
            Password<br><input type="text" name="password"><br>
          </form>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-info" name="submit">Submit</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
