<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to Hell</title>
      <meta charset="utf-8">
      <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

      <!-- Optional theme -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

      <!-- Latest compiled and minified JavaScript -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
      <link rel="stylesheet" href="/css/stylesheet.css" media="screen" title="no title" charset="utf-8">
      <link href='https://fonts.googleapis.com/css?family=Signika|Archivo+Narrow' rel='stylesheet' type='text/css'>
    </head>
    <body>
      <%= yield %>
    </body>
</html>
