<!DOCTYPE html>
<html>
<head>
  <title></title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/css/stylesheet.css" media="screen" title="no title" charset="utf-8">
  <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="/js/javascript.js"></script>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  
  <link href='https://fonts.googleapis.com/css?family=Signika|Archivo+Narrow|Courgette|Raleway' rel='stylesheet' type='text/css'>
</head>
<body>

  <nav class="navbar navbar-inverse navbar-static-top">
    <div class="navbar-header">

    </div>
    <a class="navbar-brand" href="/">Vacationeer</a>
    <div class="navbar-collapse collapse">

      <ul class="nav navbar-nav navbar-right">
        <li><a href type="text" data-toggle="modal" data-target="#myModal">Login</a></li>
        <li><a class="signup" href type="button" data-toggle="modal" data-target="#myModal2">Signup</a></li>
        <li><a href="/admins">Admin</a></li>
      </ul>
    </div>
  </nav>


  <div class="container-fluid main-container">
      <%= yield %>
  </div>
</body>
</html>
