<div style="background:#fff;">
  <%= City.all.first.flight_cost %>
</div>

<!-- <iframe src="http://embed.flightaware.com/commercial/integrated/web/delay_map.rvt" width="675" height="410" frameborder="0" marginheight="0" marginwidth="0"></iframe><br /><div style="font-size: x-small;"><a href="http://flightaware.com/">Flight Tracker courtesy of FlightAware.com</a></div> -->

<iframe id="ig_iframe" style="background-color: #FFF" src="http://airportcod.es/" width="100%" height="500px" frameborder="0"></iframe>
