<div class="container main-content">
  <div class="masonry" id="masonry-container">
  <% if !@cities.any? %>
    <h2>Sorry! We were unable to find any vacations within your budget.</h2>
    <% else %>
      <% @cities.each do |city| %>
      <div class="box masonry-brick"><img src="<%=city.img %>" class="img-responsive"><%= city.city_name %>, <%= city.country_name %> - $<%= '%.2f' % city.daily_average_cost %></div>
    <% end %>
  <% end %>
  </div>
</div>
