<div class="container main-content">
  <div class="masonry" id="masonry-container">
  <% @cities.each do |city| %>
    <div class="box masonry-brick"><img src="<%=city.img %>" class="img-responsive"><%= city.city_name %>, <%= city.country_name %> - $<%= '%.2f' % city.daily_average_cost %></div>
  <% end %>
  </div>
</div>
