.navbar {
  opacity: 0.7;
  filter: alpha(opacity=40);
  margin-bottom:0 !important;
}

.admin-page label {
  color: #000000;
}

.navbar li {
  text-decoration: none;
  display: inline;
  color: white;
}

.navbar-right {
  color: white;
}

.navbar-collapse ul {
  margin-right: 0px;
}

.nav.navbar-nav li a {
  color: white;
  /*margin-right: 20px;*/
}

.navbar-brand {
  color: white;
}

#index {
  text-shadow: 2px 2px black;
}

.index {
  text-align: center;
  top: 100px;
}

#index1{
  font-family: 'Archivo Narrow', sans-serif;
}

#index2 {
  font-family: 'Archivo Narrow', sans-serif;
}

body {
  height: 100%;
  background-image: url("/img/island3.jpg");
  background-size: 100% auto;
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  -o-background-size: 100% auto;
}

.welcome {
  color: white;
  margin-top: 23%;
  margin-right: 8%;
}

.ryan-title {
  text-align: center;
}

body {
  background-color: white;
  background:url('/img/boat_bg.jpg') no-repeat center center fixed;
  background-size:cover;
}


/****** MODAL ******/

.modal-title {
  color: black;
}

.modal-body {
  color: black;
}

/****** THEME ******/
.main-container {
  margin-top:0;
}
.main-inner-container {
  background:url('/img/logo-screen.png') no-repeat top center;
  min-height:400px;
  margin-top:0;
  padding-bottom: 40px;
}
.logo {
  text-align:center;
  margin: 30px 0;
}
.btn {
  background:#25a8ad;
  width:100%;
  padding:0px auto;
  font-family: 'Raleway', sans-serif;
  font-size:2.5em;
  margin-top:40px;
}
label {
  color:#fff;
}

.subtitle h2 {
  font-family: 'Courgette', cursive;
  font-size:2.5em;
  text-align:center;
  color:#fff;
}

.admin-page {
  background:#fff;
}

.main-content {
  margin-top:20px;
  margin-bottom: 20px;
  background:#fff;
}
.box {
  width: 347.020px;
  margin: 15px;
  float: left;
  background:#efefef;
  box-shadow: 2px 2px 5px #ccc;
  padding:1%;
  border-radius:4px;
}
.box:hover{
  border:1px solid #25a8ad;
}

@media (max-width:680px) {
  .box { width:96%;}
}

.modal-header p {
  font-family: 'Courgette', cursive;
  font-size: 9px;
}
